<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <!--
    Create `App.config` by this example to perform acceptance tests witch real API.
    Example commands to perform data set:
    * curl -X PUT https://api.qiwi.com/partner/bill/v1/bills/893794793973 -H 'Accept: application/json' -H 'Authorization: Bearer MjMyNDQxMjM6NDUzRmRnZDQ0M*******' -H 'Content-Type: application/json' -d '{"amount":{"currency":"RUB","value":"100.00"},"comment":"Text comment","expirationDateTime":"2019-12-31T23:59:59+00:00","customer":{"phone":"+799999999999","email":"example@test.com","account":"test"}}'
    * curl -X PUT https://api.qiwi.com/partner/bill/v1/bills/893794793973/refunds/899343443 -H 'Accept: application/json' -H 'Authorization: Bearer MjMyNDQxMjM6NDUzRmRnZDQ0M*******' -H 'Content-Type: application/json' -d '{"amount":{"currency":"RUB","value":"0.01"}}'
    -->
    <appSettings>
        <!-- Enter your merchant public key. -->
        <add key="MerchantPublicKey" value="Fnzr1yTebUiQaBLDnebLMMxL8nc6FF5zfmGQnypc*******"/>
        <!-- Enter your merchant secret key. -->
        <add key="MerchantSecretKey" value="MjMyNDQxMjM6NDUzRmRnZDQ0M*******"/>
        <!-- Enter bill ID to refund. -->
        <add key="BillIdForGetRefundInfoTest" value="893794793973"/>
        <!-- Enter refund ID. -->
        <add key="BillRefundIdForGetRefundInfoTest" value="893794793973"/>
        <!-- Enter bill ID witch refund. -->
        <add key="BillIdForRefundTest" value="899343443"/>
    </appSettings>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
                <bindingRedirect oldVersion="0.0.0.0-3.10.1.0" newVersion="3.10.1.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
